* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  scroll-behavior: smooth;
}
body {
  background-color: rgba(159, 159, 137, 0.582);
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0px 10px;
  overflow: hidden;
  /* background-color: rgba(35, 93, 169, 0.619); */
}

li {
  float: left;
}

li a {
  display: inline-block;
  font-size: 23px;
  /* color: rgb(30, 79, 176); */
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: rgb(53, 45, 45);
  border-radius: 20px;
}

.container {
  max-width: 1100px;
  text-align: center;
  margin: 0 auto;
  padding: 0 3rem;
}
.container h1 {
  letter-spacing: 6px;
  margin-bottom: 8px;
}
.img img {
  border-radius: 50%;
  width: 100px;
  margin: 10px;
}
.container p {
  margin-top: 6px;
  font-weight: 600;
  margin-bottom: 20px;
}

/* contact */
input[type='text'],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type='submit'] {
  background-color: #344f45;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type='submit']:hover {
  background-color: #246d61;
}

.container2 {
  border-radius: 5px;
  background-color: rgba(159, 159, 137, 0.582);
  padding: 20px;
  max-width: 800px;
  align-items: center;
  margin: 0 auto;
  margin-top: 45px;
}

/* Full-width inputs */
input[type='text'],
input[type='password'] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

button {
  background-color: #344f45;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity: 0.8;
}

.container3 {
  padding: 16px;
}
#login {
  /* margin: 0 auto; */
  margin-top: 20px;
  max-width: 500px;
  margin-left: 500px;
}
